<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link th:href="@{/css/MainStyle.css}" rel="stylesheet">
    <style>
        /* Style the main content area */
        .main-content {
            width: 80%;
            margin: auto;
            text-align: center;
        }

        .main-list {
            width: 80%;
            margin: auto;
            text-align: left;
        }

        .list-title {
            text-align: center;
        }
    </style>
</head>

<body>
    <script type="text/javascript" th:src="@{/js/src/MyScript.js}"></script>
    <div class="toolbar">
        <h1>Supply Chain System</h1>

        <!-- Add a navigation menu -->
        <ul>
            <li><a onclick="location.href=dashboard">Home</a></li>
            <li><a onclick="location.href=registerPage">Register</a></li>
            <li><a onclick="location.href=logoutPage">Logout</a></li>
            <li><a onclick="location.href=logoutPage">Browse</a></li>
            <li><a onclick="location.href=getPage('/dashboard/viewSelf')">View Self</a></li>
        </ul>
    </div>

    <div class="main-content">
        <h3 id="user-welcome"></h3>
        <p>What do you want to do today?</p>
    </div>
    <script>
        var fnameForShow = storage.fname;

        var welcomeTitle = document.getElementById('user-welcome');
        welcomeTitle.innerHTML = 'Welcome, ' + fnameForShow;
    </script>
</body>

</html>