<!DOCTYPE html>
<html>

<head>
  <title>404 Not Found</title>
  <style>
    body {
      font-family: sans-serif;
      background-color: #f1f1f1;
      text-align: center;
    }

    h1 {
      color: #a94442;
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      color: #333;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #337ab7;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <script>
    function goHome() {
      window.location = '/portal/'
    }
  </script>

  <h1>404 Not Found</h1>
  <p id=errorMessage>The page you are looking for need you to login.</p>
  <br>
  <br>
  <a onclick="history.go(-1)">Go Back</a>
  <a onclick="goHome()">Go Home</a>
  <!-- <script>
    var errorMessage = document.location.search
    if (errorMessage != '') {
      errorMessage = errorMessage.split('=')[1];
      document.getElementById('errorMessage').innerHTML = errorMessage;
    }
  </script> -->
</body>

</html>