<!DOCTYPE html>
<html>

<head>
    <title>Company Form</title>
    <link th:href="@{/css/MainStyle.css}" rel="stylesheet">
    <link th:href="@{/css/FormStyle.css}" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
    <script type="text/javascript" th:src="@{/js/src/MyScript.js}"></script>
</head>

<body>

    <div class="toolbar">
        <h1>Supply Chain System</h1>

        <!-- Add a navigation menu -->
        <ul>
            <li><a onclick="backToMain()">Home</a></li>
        </ul>
    </div>

    <br />
    <br />

    <h2>View All Staff</h2>

    <div id="table-container" , class="main-content">
        <p id="error-message"></p>
    </div>

    <br />
    <br />

    <button onclick="history.back()">Back</button>


    <script>

        function showError(message) {
            // Create an error message element
            var errorMessage = document.getElementById('error-message');
            errorMessage.id = 'error-message'
            errorMessage.innerHTML = message;
            errorMessage.style.color = "red";
        }

        // Create the table element
        var table = document.createElement("table");

        // Create a variable to keep track of the selected row
        var selectedRow = null;
        var selectedIndex = 0;

        function eventHandler(event) {
            // Get the clicked row
            var clickedRow = event.target.parentNode;

            // Check if a row is already selected
            if (selectedRow) {
                // If a row is already selected, unselect it
                selectedRow.classList.remove("selected");
            }

            // Select the clicked row
            clickedRow.classList.add("selected");

            // Update the selected row variable
            selectedRow = clickedRow;
        }

        // Add an event listener to the table that will handle row clicks
        table.addEventListener("click", eventHandler);

        var jsonDataStr = null;
        var jsonDataList = null;

        fetch(getApi('/company/viewAllUser'), {
            method: 'POST',
            headers: buildHttpHead()
        })
            .then(response => response.json())
            .then(data => {
                if (data.statusCode == 1) {
                    showError(data.errorMessage);
                } else {
                    jsonDataStr = data.data;
                    jsonDataList = JSON.parse(jsonDataStr);

                    // Create the table header
                    var headerRow = document.createElement("tr");
                    var optionHeader = document.createElement("th");
                    optionHeader.innerHTML = "UserId";
                    headerRow.appendChild(optionHeader);
                    var descriptionHeader = document.createElement("th");
                    descriptionHeader.innerHTML = "Name";
                    headerRow.appendChild(descriptionHeader);
                    var typeHeader = document.createElement("th");
                    typeHeader.innerHTML = "Gender";
                    headerRow.appendChild(typeHeader);
                    table.appendChild(headerRow);

                    // companyList = jsonDataList;

                    var counter = 1;

                    // Create some rows for the table
                    jsonDataList.forEach(item => {
                        console.log(item);
                        // 1
                        var row = document.createElement("tr");
                        var option = document.createElement("td");
                        option.innerHTML = item[0];
                        row.appendChild(option);
                        // 2
                        var nameCompany = document.createElement("td");
                        nameCompany.innerHTML = item[1];
                        row.appendChild(nameCompany);
                        // 3
                        var typeCompany = document.createElement("td");

                        typeCompany.innerHTML = item[2];
                        row.appendChild(typeCompany);
                        table.appendChild(row);

                        counter += 1;
                    });

                    // Add the table to the page
                    document.getElementById("table-container").appendChild(table);
                }
            })
            .catch(error => {
                // Handle any errors
                console.error(error);
            });

        function viewUser() {

            var myusername = storage.sessionKey;
            console.log(myusername);

            selectedIndex = selectedRow.rowIndex;

            username = jsonDataList[selectedIndex - 1][0];

            var usernameHash = CryptoJS.MD5(username);
            if (usernameHash == myusername) {
                location.href = getPage('/dashboard/editSelf')
            } else {
                location.href = getPage('/company/viewStaff/' + usernameHash)
            }
        }
    </script>


    <button id="chooseCompany" onclick="viewUser()">Make Your Choice</button>
</body>

</html>